# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.env.*

# IDE files
.idea/
.vscode/
*.swp
*.swo
.cursor/

# Firebase credentials
firebase-credentials.json

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/ 

test.py