fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
pinecone
PyPDF2==3.0.1
python-dotenv==1.0.1
langchain==0.1.12
langchain-openai==0.0.8
openai==1.76.0
firebase-admin==6.8.0
celery
redis
PyMuPDF==1.23.3
